/* Import the mixins collection file... */
/* Fonts... */
/* Colors... */
.header {
  width: 100%;
  margin: 0 auto;
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  top: 0;
}

.header #header-container {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px;
}

@media screen and (max-width: 440px) {
  .header #header-container {
    width: 85%;
  }
}

.header #header-container .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header #header-container .logo a {
  text-decoration: none;
  font-family: "Gayathri", sans-serif;
  color: #2c2798;
  font-size: 150%;
  font-weight: 700;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 440px) {
  .header #header-container .logo a {
    font-size: 140%;
  }
}

@media screen and (max-width: 360px) {
  .header #header-container .logo a {
    font-size: 115%;
  }
}

.header #header-container .logo a:hover {
  color: #60b4a1;
}

.header #header-container .logo a .scrolled {
  display: none;
}

.header #header-container .logo a img {
  width: 45px;
  margin-bottom: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 360px) {
  .header #header-container .logo a img {
    width: 36px;
  }
}

.header #header-container .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #header-container .menu .menu-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #2c2798;
  font-size: 100%;
  font-weight: 600;
}

.header #header-container .menu .menu-text:hover {
  color: #60b4a1;
}

@media screen and (max-width: 1024px) {
  .header #header-container .menu {
    display: none;
  }
}

.header #header-container .menu .enroll {
  border: 2px solid #2c2798;
  color: #2c2798;
  padding: 10px 26px;
  border-radius: 8px;
  background: transparent;
  -webkit-transition: .03s;
  transition: .03s;
}

.header #header-container .menu .enroll:hover {
  background: #2c2798;
  border: 2px solid #60b4a1;
  color: #60b4a1;
}

.header #header-container .mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header #header-container .mobile-menu-icon {
    display: block;
  }
}

.header #header-container .mobile-menu-icon a {
  font-size: 150%;
  text-decoration: none;
  color: #2c2798;
}

@media screen and (max-width: 440px) {
  .header #header-container .mobile-menu-icon a {
    font-size: 135%;
  }
}

@media screen and (max-width: 360px) {
  .header #header-container .mobile-menu-icon a {
    font-size: 115%;
  }
}

.header #header-container .mobile-menu-icon a:hover {
  color: #60b4a1;
}

.header #header-container .mobile-menu-icon #close-mobile-menu {
  display: none;
}

.header .mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background: #2c2798;
  border-top: 1px solid white;
}

.header .mobile-menu a {
  padding: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 600;
  border: 1px solid white;
}

.header .mobile-menu a:hover {
  color: #edd38c;
  border: 2px inset #edd38c;
  background: #5680e9;
}

.header .mobile-menu #mobile-enroll {
  -webkit-transition: .03s;
  transition: .03s;
}

.header .mobile-menu #mobile-enroll:hover {
  color: #edd38c;
  border: 2px inset #edd38c;
}

.top-section .container {
  width: 75%;
  margin: 0 auto;
  padding-top: 25vh;
}

@media screen and (max-width: 1024px) {
  .top-section .container {
    padding-top: 20vh;
  }
}

.top-section .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3%;
}

@media screen and (max-width: 1080px) {
  .top-section .container .content {
    padding: 0;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-section .container .content .info-content {
  width: 40%;
}

@media screen and (max-width: 1400px) {
  .top-section .container .content .info-content {
    width: 35%;
  }
}

@media screen and (max-width: 960px) {
  .top-section .container .content .info-content {
    width: 40%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 10%;
  }
}

.top-section .container .content .info-content h2 {
  font-family: "Gayathri", sans-serif;
  color: #2c2798;
  font-size: 200%;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content h2 {
    font-size: 180%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content h2 {
    font-size: 200%;
  }
}

.top-section .container .content .info-content h4 {
  font-family: "Roboto", sans-serif;
  color: #606365;
  font-size: 130%;
  font-weight: 300;
  padding: 4% 0 20%;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content h4 {
    font-size: 110%;
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content h4 {
    font-size: 130%;
    width: 60%;
    margin: 0 auto;
    padding: 8% 0 12%;
  }
}

@media screen and (max-width: 440px) {
  .top-section .container .content .info-content h4 {
    padding-bottom: 15%;
  }
}

.top-section .container .content .info-content a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #2c2798;
  padding: 14px 30%;
  border-radius: 8px;
  background: #5680e9;
  -webkit-transition: .03s;
  transition: .03s;
}

.top-section .container .content .info-content a:hover {
  color: #edd38c;
  background: #60b4a1;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content a {
    font-size: 95%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content a {
    font-size: 100%;
    padding: 14px 25%;
  }
}

.top-section .container .content .image-content {
  width: 60%;
  text-align: right;
}

@media screen and (max-width: 1188px) {
  .top-section .container .content .image-content {
    width: 60%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .image-content {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 1240px) {
  .top-section .container .content .image-content iframe {
    width: 100% !important;
  }
}

.top-section .container .build {
  padding: 6% 0 3%;
  text-align: center;
}

@media screen and (max-width: 440px) {
  .top-section .container .build {
    padding-bottom: 8%;
  }
}

.top-section .container .build h2 {
  font-family: "Roboto", sans-serif;
  color: #606365;
  font-size: 115%;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1040px) {
  .top-section .container .build h2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 440px) {
  .top-section .container .build h2 {
    font-size: 75%;
    padding-bottom: 4%;
  }
}

.top-section .container .build .email-clients {
  padding: 3% 0 1%;
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1040px) {
  .top-section .container .build .email-clients {
    width: 75%;
  }
}

.top-section .container .build .email-clients img {
  width: 8%;
}

@media screen and (max-width: 440px) {
  .top-section .container .build .email-clients img {
    width: 20%;
  }
}

.freelance-advice {
  background: #2c2798;
  width: 100%;
  margin: 0 auto;
}

.freelance-advice .container {
  padding: 3.5% 0;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1040px) {
  .freelance-advice .container {
    width: 75%;
    padding: 5% 0;
  }
}

@media screen and (max-width: 600px) {
  .freelance-advice .container {
    padding: 6% 0;
  }
}

@media screen and (max-width: 440px) {
  .freelance-advice .container {
    padding: 8% 0 4%;
  }
}

.freelance-advice .container p {
  text-align: center;
  font-family: "Martel", serif;
  color: white;
  font-size: 115%;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #edd38c;
  padding-bottom: 3%;
}

@media screen and (max-width: 1040px) {
  .freelance-advice .container p {
    font-size: 100%;
  }
}

@media screen and (max-width: 600px) {
  .freelance-advice .container p {
    font-size: 100%;
  }
}

@media screen and (max-width: 425px) {
  .freelance-advice .container p {
    font-size: 90%;
  }
}

.curriculum {
  width: 100%;
  margin: 0 auto;
}

.curriculum .container {
  width: 75%;
  margin: 0 auto;
  padding: 7% 0 2%;
}

@media screen and (max-width: 425px) {
  .curriculum .container {
    padding-top: 15%;
  }
}

.curriculum .container h1 {
  font-family: "Gayathri", sans-serif;
  color: #2c2798;
  font-size: 210%;
  font-weight: 800;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border-bottom: 2px solid #edd38c;
}

@media screen and (max-width: 700px) {
  .curriculum .container h1 {
    width: inherit;
    text-align: center;
    font-size: 170%;
  }
}

@media screen and (max-width: 425px) {
  .curriculum .container h1 {
    font-size: 180%;
  }
}

.curriculum .container .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15vh 3% 0;
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses {
    padding-top: 8vh;
  }
}

@media screen and (max-width: 425px) {
  .curriculum .container .courses {
    padding-top: 5vh;
  }
}

.curriculum .container .courses .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8%;
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.curriculum .container .courses .course .info {
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .curriculum .container .courses .course .info {
    width: 50%;
  }
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course .info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.curriculum .container .courses .course .info h2 {
  font-family: "Gayathri", sans-serif;
  color: #60b4a1;
  font-size: 170%;
  font-weight: 800;
  padding-bottom: 1vh;
}

@media screen and (max-width: 1200px) {
  .curriculum .container .courses .course .info h2 {
    font-size: 150%;
  }
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course .info h2 {
    font-size: 170%;
    padding-bottom: 2vh;
  }
}

.curriculum .container .courses .course .info #exclusive {
  color: #edd38c;
}

.curriculum .container .courses .course .info p {
  font-family: "Roboto", sans-serif;
  color: #606365;
  font-size: 140%;
  font-weight: 300;
  line-height: 1.7;
}

@media screen and (max-width: 1200px) {
  .curriculum .container .courses .course .info p {
    font-size: 120%;
  }
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course .info p {
    font-size: 140%;
    padding-bottom: 2vh;
  }
}

@media screen and (max-width: 425px) {
  .curriculum .container .courses .course .info p {
    font-size: 120%;
    line-height: 1.4;
  }
}

.curriculum .container .courses .course .info .learn {
  padding: 4% 0;
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course .info .learn {
    padding: 0;
  }
}

.curriculum .container .courses .course .info .learn a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #2c2798;
  font-size: 100%;
  font-weight: 400;
}

.curriculum .container .courses .course .info .learn a .fa {
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  .curriculum .container .courses .course .info .learn a {
    font-size: 86%;
  }
}

@media screen and (max-width: 425px) {
  .curriculum .container .courses .course .info .learn a {
    font-size: 75%;
  }
}

.curriculum .container .courses .course .info .learn a:hover {
  color: #5680e9;
}

.curriculum .container .courses .course .info-image {
  width: 45%;
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .course .info-image {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0 8%;
  }
}

.curriculum .container .courses .course .info-image img {
  width: 80%;
}

@media screen and (max-width: 830px) {
  .curriculum .container .courses .coding-courses, .curriculum .container .courses .asap-developers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.instructor {
  background-image: url("https://i.postimg.cc/4Nc8xNXH/email-marketing.png");
  background-size: 100% 100%;
}

.instructor .instructor-bg {
  height: 60vh;
  background: rgba(44, 39, 152, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.instructor .instructor-bg .container {
  width: 75%;
  margin: 0 auto;
  padding-top: 4%;
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container {
    padding-top: 8%;
  }
}

.instructor .instructor-bg .container h1 {
  font-family: "Gayathri", sans-serif;
  color: white;
  font-size: 240%;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 2px solid #edd38c;
  line-height: .9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .instructor .instructor-bg .container h1 {
    font-size: 200%;
  }
}

.instructor .instructor-bg .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4% 3% 3% 3%;
}

@media screen and (max-width: 1460px) {
  .instructor .instructor-bg .container .content {
    padding: 4% 0 3%;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8% 0 3%;
  }
}

.instructor .instructor-bg .container .content .info {
  width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1460px) {
  .instructor .instructor-bg .container .content .info {
    width: 50%;
  }
}

.instructor .instructor-bg .container .content .image-sec {
  text-align: center;
}

@media screen and (max-width: 1224px) {
  .instructor .instructor-bg .container .content .image-sec {
    width: 35%;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content .image-sec {
    width: 100%;
  }
}

.instructor .instructor-bg .container .content .image-sec img {
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.64);
}

@media screen and (max-width: 1024px) {
  .instructor .instructor-bg .container .content .image-sec img {
    width: 168px;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content .image-sec img {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .instructor .instructor-bg .container .content .image-sec img {
    width: 160px;
  }
}

.instructor .instructor-bg .container .content .image-sec h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 160%;
  font-weight: 700;
  padding: 3% 0;
}

@media screen and (max-width: 1024px) {
  .instructor .instructor-bg .container .content .image-sec h3 {
    font-size: 145%;
    padding: 6% 0 0;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content .image-sec h3 {
    font-size: 170%;
    padding: 3% 0 0;
  }
}

@media screen and (max-width: 425px) {
  .instructor .instructor-bg .container .content .image-sec h3 {
    font-size: 155%;
  }
}

@media screen and (max-width: 1224px) {
  .instructor .instructor-bg .container .content .info-sec {
    width: 65%;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content .info-sec {
    width: 100%;
    padding-top: 4%;
  }
}

@media screen and (max-width: 425px) {
  .instructor .instructor-bg .container .content .info-sec {
    padding-bottom: 4%;
  }
}

.instructor .instructor-bg .container .content .info-sec p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 130%;
  font-weight: 700;
  line-height: 1.6;
}

@media screen and (max-width: 1024px) {
  .instructor .instructor-bg .container .content .info-sec p {
    font-size: 120%;
    line-height: 1.5;
  }
}

@media screen and (max-width: 900px) {
  .instructor .instructor-bg .container .content .info-sec p {
    font-size: 115%;
  }
}

@media screen and (max-width: 830px) {
  .instructor .instructor-bg .container .content .info-sec p {
    font-size: 130%;
  }
}

@media screen and (max-width: 425px) {
  .instructor .instructor-bg .container .content .info-sec p {
    font-size: 115%;
  }
}

.faq-info {
  padding: 5% 0;
}

.faq-info #section-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-family: "Gayathri", sans-serif;
  color: #2c2798;
  font-size: 240%;
  font-weight: 700;
  border-bottom: 2px solid #edd38c;
  line-height: .9;
}

.faq-info .container {
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1300px) {
  .faq-info .container {
    padding: 36px 0 3%;
  }
}

@media screen and (max-width: 1100px) {
  .faq-info .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.faq-info .container .section {
  width: 45%;
  border: 1px solid #606365;
  padding-bottom: 1%;
  background: #5680e9;
  box-shadow: -4px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1300px) {
  .faq-info .container .section {
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 1100px) {
  .faq-info .container .section {
    width: 48%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 1%;
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 650px) {
  .faq-info .container .section {
    width: 100%;
  }
}

.faq-info .container .section .title-container {
  width: 100%;
  background: rgba(96, 180, 161, 0.8);
}

.faq-info .container .section .title-container h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 130%;
  font-weight: 800;
  font-style: italic;
  padding: 6% 0 3%;
  border-bottom: 1px solid #2c2798;
  margin-bottom: 5%;
  letter-spacing: 2px;
}

.faq-info .container .section .question {
  padding: 3%;
}

@media screen and (max-width: 1300px) {
  .faq-info .container .section .question {
    padding: 3% 3%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section .question {
    padding: 3% 4%;
  }
}

.faq-info .container .section .question h2 {
  font-family: "Roboto", sans-serif;
  color: #edd38c;
  font-size: 120%;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .faq-info .container .section .question h2 {
    font-size: 110%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section .question h2 {
    font-size: 115%;
  }
}

@media screen and (max-width: 425px) {
  .faq-info .container .section .question h2 {
    font-size: 110%;
  }
}

.faq-info .container .section .question p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 110%;
  font-weight: 300;
  padding: 2%;
  font-style: italic;
  line-height: 1.6;
}

@media screen and (max-width: 1150px) {
  .faq-info .container .section .question p {
    font-size: 100%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section .question p {
    font-size: 110%;
  }
}

@media screen and (max-width: 425px) {
  .faq-info .container .section .question p {
    font-size: 100%;
  }
}

.faq-info .container .section .courses {
  padding: 0 3% 2%;
}

@media screen and (max-width: 1200px) {
  .faq-info .container .section .courses {
    padding-top: 2%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section .courses {
    padding: 2% 4% 2%;
  }
}

.faq-info .container .section .courses .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .5% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-info .container .section .courses .course i {
  margin-right: 4%;
  color: #edd38c;
  font-size: 115%;
}

@media screen and (max-width: 425px) {
  .faq-info .container .section .courses .course i {
    font-size: 95%;
  }
}

.faq-info .container .section .courses .course h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 110%;
  font-weight: 500;
  padding: 1% 0;
  letter-spacing: 1px;
  font-style: italic;
}

@media screen and (max-width: 1150px) {
  .faq-info .container .section .courses .course h4 {
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .faq-info .container .section .courses .course h4 {
    font-size: 98%;
  }
}

@media screen and (max-width: 960px) {
  .faq-info .container .section .courses .course h4 {
    font-size: 110%;
  }
}

@media screen and (max-width: 425px) {
  .faq-info .container .section .courses .course h4 {
    font-size: 95%;
  }
}

.faq-info .price-container {
  padding-top: 1.5%;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.faq-info .price-container .price {
  padding: 1% 0;
}

.faq-info .price-container .price h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 160%;
  font-weight: 700;
}

.faq-info .price-container .old span {
  opacity: .5;
  color: #606365;
  text-decoration: line-through;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.faq-info .price-container .new {
  padding-bottom: 4%;
}

.faq-info .price-container .new span {
  color: green;
}

.faq-info .price-container .bottom-enroll {
  padding-top: 2%;
}

.faq-info .price-container .bottom-enroll a {
  background: #5680e9;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 130%;
  font-weight: 500;
  padding: 1.3% 6%;
  border-radius: 8px;
  border: 2px solid #2c2798;
  -webkit-transition: .3s;
  transition: .3s;
}

.faq-info .price-container .bottom-enroll a:hover {
  color: #edd38c;
  background: #60b4a1;
}

footer {
  background: #2c2798;
}

footer .container {
  padding: 2% 0 1.5%;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 95%;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 450px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container h6 {
  margin: 0 5px;
}
/*# sourceMappingURL=main.css.map */