/* Import the mixins collection file... */
.header {
  width: 100%;
  margin: 0 auto;
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.header #header-container {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px;
}

@media screen and (max-width: 440px) {
  .header #header-container {
    width: 85%;
  }
}

.header #header-container .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header #header-container .logo a {
  text-decoration: none;
  font-family: "Gayathri", sans-serif;
  color: #5b04bf;
  font-size: 150%;
  font-weight: 700;
}

@media screen and (max-width: 440px) {
  .header #header-container .logo a {
    font-size: 140%;
  }
}

.header #header-container .logo a:hover {
  color: #0099ff;
}

.header #header-container .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #header-container .menu .menu-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #5b04bf;
  font-size: 100%;
  font-weight: 600;
}

.header #header-container .menu .menu-text:hover {
  color: #0099ff;
}

@media screen and (max-width: 830px) {
  .header #header-container .menu {
    display: none;
  }
}

.header #header-container .menu .enroll {
  border: 2px solid #5b04bf;
  color: white;
  padding: 10px 26px;
  border-radius: 8px;
  background: #33ff33;
  -webkit-transition: .03s;
  transition: .03s;
}

.header #header-container .mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 830px) {
  .header #header-container .mobile-menu-icon {
    display: block;
  }
}

.header #header-container .mobile-menu-icon a {
  font-size: 150%;
  text-decoration: none;
  color: #5b04bf;
}

@media screen and (max-width: 440px) {
  .header #header-container .mobile-menu-icon a {
    font-size: 135%;
  }
}

.header #header-container .mobile-menu-icon a:hover {
  color: #0099ff;
}

.header #header-container .mobile-menu-icon #close-mobile-menu {
  display: none;
}

.header .mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background: #5b04bf;
  border-top: 1px solid white;
}

.header .mobile-menu a {
  padding: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 600;
  border: 1px solid white;
}

.header .mobile-menu a:hover {
  color: #0099ff;
  border: 2px inset #0099ff;
}

.header .mobile-menu #mobile-enroll {
  -webkit-transition: .03s;
  transition: .03s;
}

.header .mobile-menu #mobile-enroll:hover {
  color: #33ff33;
  border: 2px inset #33ff33;
}

.top-section .container {
  width: 75%;
  margin: 0 auto;
  padding-top: 25vh;
}

@media screen and (max-width: 1024px) {
  .top-section .container {
    padding-top: 20vh;
  }
}

.top-section .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 830px) {
  .top-section .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-section .container .content .info-content {
  width: 30%;
}

@media screen and (max-width: 1400px) {
  .top-section .container .content .info-content {
    width: 50%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 10%;
  }
}

.top-section .container .content .info-content h2 {
  font-family: "Gayathri", sans-serif;
  color: black;
  font-size: 200%;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content h2 {
    font-size: 180%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content h2 {
    font-size: 200%;
  }
}

.top-section .container .content .info-content h4 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 130%;
  font-weight: 300;
  padding: 4% 0 20%;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content h4 {
    font-size: 110%;
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content h4 {
    font-size: 130%;
    width: 60%;
    margin: 0 auto;
    padding: 8% 0 12%;
  }
}

@media screen and (max-width: 440px) {
  .top-section .container .content .info-content h4 {
    padding-bottom: 15%;
  }
}

.top-section .container .content .info-content a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #5b04bf;
  padding: 14px 30%;
  border-radius: 8px;
  background: #0099ff;
  -webkit-transition: .03s;
  transition: .03s;
}

.top-section .container .content .info-content a:hover {
  color: #33ff33;
}

@media screen and (max-width: 1024px) {
  .top-section .container .content .info-content a {
    font-size: 95%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .info-content a {
    font-size: 100%;
    padding: 14px 25%;
  }
}

.top-section .container .content .image-content {
  padding-left: 15%;
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 1188px) {
  .top-section .container .content .image-content {
    width: 60%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .image-content {
    width: 100%;
    padding-left: 0;
  }
}

.top-section .container .content .image-content img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1044px) {
  .top-section .container .content .image-content img {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .top-section .container .content .image-content img {
    height: 400px;
  }
}

.top-section .container .build {
  padding: 6% 0 3%;
  text-align: center;
}

@media screen and (max-width: 440px) {
  .top-section .container .build {
    padding-bottom: 8%;
  }
}

.top-section .container .build h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 120%;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1040px) {
  .top-section .container .build h2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 440px) {
  .top-section .container .build h2 {
    font-size: 75%;
    padding-bottom: 4%;
  }
}

.top-section .container .build .email-clients {
  padding: 5% 0 1%;
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1040px) {
  .top-section .container .build .email-clients {
    width: 75%;
  }
}

.top-section .container .build .email-clients img {
  width: 10%;
}

@media screen and (max-width: 440px) {
  .top-section .container .build .email-clients img {
    width: 20%;
  }
}

.freelance-advice {
  background: #5b04bf;
  width: 100%;
  margin: 0 auto;
}

.freelance-advice .container {
  padding: 3.5% 0;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1040px) {
  .freelance-advice .container {
    width: 75%;
    padding: 5% 0;
  }
}

@media screen and (max-width: 600px) {
  .freelance-advice .container {
    padding: 6% 0;
  }
}

@media screen and (max-width: 440px) {
  .freelance-advice .container {
    padding: 8% 0;
  }
}

.freelance-advice .container p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 125%;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1040px) {
  .freelance-advice .container p {
    font-size: 100%;
  }
}

@media screen and (max-width: 600px) {
  .freelance-advice .container p {
    font-size: 100%;
  }
}
/*# sourceMappingURL=main.css.map */