  
/* Import the mixins collection file... */
@import SASS-MIXINS
$gayathri: 'Gayathri', sans-serif
$roboto: 'Roboto', sans-serif
$purple: #5b04bf

.header
    +center(100%, 0 auto)
    transition: .3s
    position: fixed
    transition: 0.3s
    z-index: 1
    #header-container
        +center(80%, 0 auto)
        +fullFlex(flex,row,space-between)
        padding: 40px 0 20px        
        .logo
            flex-grow: 2
            a 
                text-decoration: none
                +text($gayathri,$purple,150%,700)
        .menu
            flex-grow: 1
            +fullFlex(flex,row,space-between)
            transition: .3s
            .menu-text 
                text-decoration: none
                +text($roboto,$purple,100%,600)
                &:hover
                    color: #0099ff
            +media-max(800px)
                display: none
        .mobile-menu-icon
            display: none
            +media-max(800px)
                display: block
            #close-mobile-menu
                display: none
.mobile-menu
    +fullFlex(none,column,space-around)
    text-align: center
.top-section
    .container
        +center(80%, 0 auto)
        padding: 160px 0
        .content   
            +flex(flex,row)
            align-items: center
        .build
            .email-clients
                +center(60%,0 auto)
                +fullFlex(flex,row,space-between)
                img 
                    width: 8%
            